<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Marcelo Itkin"/>
    <meta name="keywords"  content="Río Paraná, Paraná Entre Ríos, certificación de origen, recetas de cocina, cerveza artesanal, sello de calidad, como hacer cerveza, curso cerveza artesanal, Entre Ríos, litoral, denominación de origen, proceso de certificación, marca Paraná. marca Sabores del Paraná, Sabores del Paraná">
    <title>Sabores del Paraná - Certificaciones</title>
    <meta name="description" content="Sabores del Paraná, proveemos certificaciones de origen para productos y servicios. Descubrí como sumár valor a tu marca">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/CSS/style_sabores_boots.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <linkrel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://scripts.sirv.com/sirv.js"></script>
    
</head>
  <body>
    <div class="container-lg">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../index.html"><img src="../img/Logo_300x88_png.png" alt="logo sabores"></a>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./certificaciones.html">CERTIFICACIONES<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./imagina_sabores.html">IMAGINÁ SABORES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./sabores_de_tierra_y_rio.html">SABORES DE TIERRA & RIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./vinos_y_cervezas.html">VINOS & CERVEZA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="../index.html" tabindex="-1" aria-disabled="true">CONTACTO</a>
          </li>
        </ul>
        </div>
    </nav>
       
    <div class="container-fluid imgBackground">
      <div class="row">
           <div class="col-md-2"></div>
      </div>
 </div>
    <!-- Page Content -->
  <div class="container-lg">

    <h2 class="my-4 text-center"><em>Bienvenido... te invitamos a descubrir y probar los Sabores del Paraná</em></h2>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Productos Certificados</h4>
          <div class="card-body">
 <!-- sección con link externo -->           
            <p class="card-text">Nuestros procesos de certificación toman aspectos reglamentados por Secretaría de Agricultura y Pesca de la Nación, en particular nos referenciamos en el marco regulatorio<a href="http://www.alimentosargentinos.gob.ar/HomeAlimentos/Marco_Regulatorio" target="_blank"> CONAL </a>(Comisión Nacional de Alimentos)</p>
          </div>
          <div class="card-footer">
            <a href="./views/certificaciones.html" class="btn btn-warning float-right">+ info...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Herramientas para Suma de valor</h4>
          <div class="card-body">
            <p class="card-text">Sello Alimentos Argentinos - Sistema Nacional de Diferenciación y Agregado de Valor para el Sector Agroalimentario. El Sello “Alimentos Argentinos” es una marca de calidad gratuita que distingue a los alimentos</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-warning float-right">ver más...</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Sello Orgánico</h4>
          <div class="card-body">
            <p class="card-text">Noticias, Cursos, Normativas acerca del potencial de la Producción Orgánica. El sello "Orgánico, agrega valor en los territorios, mediante integraciones verticales y horizontales de mediano/largo plazo. Genera recursos económicos y atributos de marca.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-warning float-right">+ info...</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Jumbotron con animación zoomIn -->
    <section class="animate__animated animate__zoomIn">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">"PROMOCIÓN ESPECIAL"</h1>
        <p class="lead">Desarrollamos un evento virtual promocionando Servicios y Productos del Paraná</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium perferendis itaque accusantium atque iure doloribus ipsum aliquid minima, eum quam adipisci inventore commodi eius ut tempore? Similique, eos delectus?</p>
        <a href="#" class="btn btn-warning btn-block" role="button">Envianos tus datos y nos pondremos en contacto</a>
       </div>
    </div>
  </section>

<!-- Seccion muestra servicio y productos -->
    <h2>Nuestros servicios...</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="../img/Evento_gazebos_banners_700x400.jpg" alt="Evento campestre"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Eventos</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="../img/Merchandising_700x400.jpg" alt="Merchandising"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Merchandising</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="../img/Influence_Mkt_700x400.jpg" alt="Influence marketing"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">RRSS Marketing</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
      
      
    </div>
<!-- /row -->
<hr>
<!-- Recipes Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Recetas del Paraná</h2>
        <p><em>"Empanadas de pescado de río":</em></p>
        <ul id="pescaditos">
            <li>
              <strong>INGREDIENTES</strong>
            </li>
            <li id="fish">1 kilo de pescado</li>
            <li id="fish">2 cebollas medianas</li>
            <li id="fish">1 cebolla de verdeo</li>
            <li id="fish">½ pimiento verde</li>
            <li id="fish">1 diente de ajo</li>
            <li id="fish">Comino, perejil, sal, pimienta y limón</li>
        </ul>
            <p>¿Cómo hacer el relleno de las empanadas?
            Macerar el pescado crudo en limón con sal, pimienta, comino, ajo y perejil.<br>
            <strong>El secreto... no saltear este primer paso!</strong>
            Luego, freir las cebollas picadas, la cebolla de verdeo cortada en rodajas y el pimiento picado, todo en una sartén. Por último incorporar el surubí, ya cortado en trozos chicos (no procesado).</p>
            <p><strong>Atención:</strong>
                    Requiere muy poca cocción el pescado, ya que termina de cocinarse cuando ponemos las empanadas en el horno. Revisar y quitar las posibles espinas.</p>
      </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="../img/empanadas_de_surubi_700x450.jpg" alt="empanadas de surubí">

<!--aplicación de componente popover / html / css / js inicialización-->     
          
              <div class="container mt-3 botonBloque">
                <button type="button"
                class="btn btn-block btn-warning"
                data-toggle="popover"
                data-trigger="focus"
                data-placement="bottom"
                title="Semana del Surubí"
                
                data-content="Deleitá a tu gente con recetas del Paraná">*** Muy pronto en nuestro canal de Youtube ***</button>
              </div>  
<!--fin componente popover-->        
        </div>
    </div>
<!-- /row -->
<hr>

  <footer class="py-5 bg-dark">
    <div class="container">
      <h3>FOOTER</h3>
      <p class="m-0 text-center text-white">Derechos Reservados &copy; Website 2021</p>
    </div>
  </footer>


          
      
          
      
          
      
      
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        
<!--inicialización js componente popover-->
        <script>
          $(document).ready(function(){
            $('[data-toggle="popover"]').popover();   
          });
          </script>
<!--fin inicialización componente popover-->        
  </body>
</html>