<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prueba Popovers</title>
        <meta name="author" content="Marcelo Itkin"/>
        <style type="text/css"> BODY{ font-family: verdana; } </style>
        <link rel="stylesheet" href="../assets/CSS/style_prueba.css">
    </head>
    <body>
            <div class="wrapper">
                <header>Hi there !</header>
                <nav>
                    <ul>
                        <li><a href="index.html" class="current">Incio</a></li>
                        <li><a href="two.html">Two</a></li>
                        <li><a href="three.html">Three</a></li>
                        <li><a href="four.html" >Four</a></li>
                        <li><a href="five.html">Five</a></li>
                    </ul>
                </nav>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae reprehenderit voluptates porro labore illo. Minima explicabo voluptates quas quaerat architecto provident. A, non molestiae esse odit numquam similique cupiditate commodi!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, tempora nisi nesciunt ullam saepe rerum similique! Commodi, nisi veritatis, magni assumenda error optio repellat soluta sit officia totam eius nesciunt.</p>
                </div>
                <div class="content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non neque architecto omnis hic quisquam blanditiis soluta consequatur a. Nulla harum ipsa dicta id consectetur, possimus reiciendis necessitatibus reprehenderit voluptatem commodi.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, earum voluptas? Odit praesentium, deserunt distinctio exercitationem possimus maiores cupiditate autem aliquid reprehenderit temporibus laborum ad perspiciatis beatae laboriosam rerum dolores!</p>
                
                </div>
            </div>
        <footer>Bye bye</footer>
    </body>
</html>