<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marcelo Itkin"/>
	<style type="text/css"> BODY{ font-family: verdana; } </style>
	<link rel="stylesheet" href="../assets/CSS/style.css">
    <title>Vinos y Cervezas</title>
</head>
<body>
    <div class="contenedor">
            
        <div class="encabezado">
                <div class="texto_Titulo">
                    <h1>Sabores del Paraná - Logo</h1>
                    <p>vinos y cervezas... &#174;</p>
                </div>
                    <!--BARRA DE NAVEGACION-->
                <div class="barraMenu">
                        <nav class="menu">
                            <ul>
                                <li><a href="../index.html">Inicio</a></li>
                                <li><a href="./certificaciones.html">Certificaciones</a></li>
                                <li><a href="./imagina_sabores.html">Imaginá sabores...</a></li>
                                <li><a href="./sabores_de_tierra_y_rio.html">Sabores del río</a></li>
                                <li><a href="./vinos_y_cervezas.html">Vinos y Cervezas</a></li>
                            </ul>
                        </nav>
                </div>
                    <!-- Imagen principal -->
            
                    <img src="../img/Heim_Beer_879x540.jpg" alt="certificacion de cerveza artesanal Heim">
            
        </div>
        <div class= "contenidoArticulos">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non veritatis labore atque tenetur dolores quaerat, officiis repellat asperiores neque dignissimos amet ratione laborum cupiditate, accusantium quos nobis id maiores adipisci.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cupiditate temporibus, possimus quo perspiciatis sunt quam necessitatibus doloribus mollitia facilis nemo vero nobis cumque sit nesciunt nisi libero ipsam excepturi!</p>
        </div>


<!-- código para footer -->
        <div id="footer">
        <footer>
            <h3>Footer</h3>
            <p>Datos de contacto - Links a RRSS - Items de navegación Links</p>
        </footer>
        </div>
    </div>   
</body>
</html>